<section id="create-section" class="">

    <h1 class="item">New Facility</h1>

    <main class="item padded align-center">

            <div class="col aligned">
                <label><span>Labal</span><input type="text" name="Labal"></label>
                <label><span>Facility URL</span><input type="text" name="Facility URL"></label>
            </div>
                <div class="align-center">
                    <input class="action" type="submit" value="Publish Item">
                </div>
            

        </form>

    </main>

</section>