<section id="create-section" class="">

    <h1 class="item">New Facility</h1>

    <main class="item padded align-center">

<form class="layour left large" method="post" action="/facilitys/create">
                <label><span>Labal</span><input type="text" name="Labal"></label>
                <label><span>Facility URL</span><input type="text" name="FacilityURL"></label>
           
                <div class="align-center">
                    <input class="action" type="submit" value="Publish Item">
                </div>
            
        </form>

    </main>

</section>