<h1>New Accomodation</h1>
<main>HEllo
<form method="post">
<ul id="new">
    <li><span>Id</span><input type="text" name="Id"></li>
    <li><span>Name</span><input type="text" name="Name"></li>
    <li><span>Price</span><input type="text" name="Price"></li>
    <li><span>Description</span><input type="text" name="details"></li>
    <button>Submit</button>
</ul>
</form>
</main>